.team {
    width: 100%;
    height: 100%;
    margin-top: 64px;
    margin-bottom: 64px;
}

.smart-textil {
    width: 100vw;
    height: 400px;
}

.container-about img {
    margin-top: 64px;
    margin-bottom: 64px;
    object-fit: cover;

}

.klubb-kin {
color: var(--background-color, #FFFDF8);
text-align: center;
font-family: "IBM Plex Serif";
font-size: 4rem;
font-style: italic;
font-weight: 400;
line-height: 100%;
letter-spacing: -3.84px;
position: absolute;
top: 0px;
margin: 50px;
} 

.container-about div {
    position: relative;
    width: 100vw;
    height: 528px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
} 
 
.container-about button {
    width: auto;
    position: absolute;
    background: none;
    border: 1px solid var(--BG, #FFFDF8);
    padding: 8px 20px;
    bottom: 72px;
}