.team {
    width: 100vw;
    height: 528px;
    object-fit: cover;
    margin-top: 64px;
    margin-bottom: 64px;
}

.smart-textil {
    width: 100vw;
    height: 400px;
}

.main-about img {
    margin-top: 64px;
    margin-bottom: 64px;
}

