.collection-container {
    display: flex;
    /*width: 390px;*/
    height: 1265px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    flex-shrink: 0;
}

.sort-filter {
    display: flex;
    width: 353px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.categories-box {
    display: flex;
    align-items: center;
    gap: 28px;
}

.categories {
    display: flex;
    align-items: center;
    gap: 8px;
}

.category-frame-underlined {
    border-bottom: 1px solid var(--darkgreen, #1F2B28);
    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.category-frame {
    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.category-frame-underlined p, .category-frame p {
    color: var(--darkgreen, #1F2B28);
    font-family: var(--font-base);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}

.filter {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
}

filter img {
    stroke-width: 1.5px;
    stroke: var(--darkgreen, #1F2B28);
    width: 18.5px;
    height: 17.575px;
    flex-shrink: 0;
}

.product-container {
    display: flex;
    height: 1148px;
    width: 390px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px 2px;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.product-card {
    background: var(--background-color, #FFFDF8);
    display: flex;
    width: 194px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

.product-card img {
    height: 215px;
    align-self: stretch;
}

.product-card a {
    text-decoration: none;
}