footer-container {
    display: flex;
    width: 390px;
    padding: 0 24px;
    flex-direction: column;
    align-items: baseline;
    gap: 96px;
}

footer h4 {
    width: 100px;
    flex-shrink: 0;
    color: #1F2B28;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 26.1px */
    letter-spacing: -0.36px;
}

footer p {
    align-self: stretch;
    color: #1F2B28;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}
