footer {
    width: 390px;
    height: 678px;
    padding: 0 24px;
}

.footer-container {
    display: flex;
    padding: 64px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    align-self: stretch;
} 

.content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.footer-header-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

footer h4 {

    color: var(--Mrkgrn, #1F2B28);
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
    margin: 0;
}

footer p {
    align-self: stretch;
    color: var(--Mrkgrn, #1F2B28);
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
    margin: 0;
}

.socials-container {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
}

.socials-logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.socials-logo img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: var(--Mellangrn, #6F7770);
}

.footer-nav-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

footer h5 {
    color: var(--Mrkgrn, #1F2B28);
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
    margin: 0;
}

.hos-oss-box {
    display: flex;
    width: 151px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.hos-oss-box p, .annat-box p {
    align-self: stretch;
    margin: 0;
    color: var(--Mellangrn, #6F7770);
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}

.annat-box {
    display: flex;
    width: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

