/* <weight>: Use a value from 100 to 700
 <uniquifier>: Use a unique and descriptive class name

 .ibm-plex-sans-<uniquifier> {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}*/

footer {
    background-color: var(--background-color);
    /*width: 390px;*/
    height: 678px;
    padding: 0 24px;
}

.footer-container {
    display: flex;
    padding: 64px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    align-self: stretch;
} 

.content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.footer-header-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

footer h4 {

    color: var(--darkgreen, #1F2B28);
    font-family: var(--font-base);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
    margin: 0;
}

footer p {
    align-self: stretch;
    color: var(--darkgreen, #1F2B28);
    font-family: var(--font-base);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
    margin: 0;
}

.socials-container {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
}

.socials-logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.socials-logo img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: var(--midgreen, #6F7770);
}

.footer-nav-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

footer h5 {
    color: var(--darkgreen, #1F2B28);
    font-family: var(--font-base);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
    margin: 0;
}

.hos-oss-box {
    display: flex;
    width: 151px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.hos-oss-box p, .annat-box p {
    align-self: stretch;
    margin: 0;
    color: var(--midgreen, #6F7770);
    font-family: var(--font-base);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}

.hos-oss-box a {
    text-decoration: none;
}

.annat-box {
    display: flex;
    width: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

