/* Header */
header {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  background-color: var(--background-color);
  position: relative;
}

/* Logo */
.logo {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--darkgreen);
}


/* Hamburger */
#menu-toggle {
  display: none;
  
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1.75rem;
  height: 1.375rem;
  cursor: pointer;
  z-index: 20;
}

.bar {
  height: 0.1875rem;
  width: 100%;
  background-color: var(--background-color);
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

/* Navigation */
.nav {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 4.5rem;
  right: 1.5rem;
  background-color: var(--background-color);
  border: 0.125rem solid var(--accent-color);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 12rem;
  box-shadow: 0 0.25rem 0.9375rem rgba(0,0,0,0.3);
  z-index: 15;
}

.nav a {
  text-decoration: none;
  color: var(--darkgreen);
  padding: 0.5rem 0;
  display: block;
  transition: color 0.3s;
}

.nav a:hover {
  color: var(--accent-color);
}

/* Visa meny när checkbox markerad */
#menu-toggle:checked ~ .nav {
  display: flex;
}

/* Hamburger → X */
#menu-toggle:checked + .menu-icon .bar:nth-child(1) {
  transform: rotate(45deg) translate(0.3125rem, 0.3125rem);
}

#menu-toggle:checked + .menu-icon .bar:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .menu-icon .bar:nth-child(3) {
  transform: rotate(-45deg) translate(0.375rem, -0.375rem);
}

/* Desktop */
@media (min-width: 48rem) {
  .menu-icon {
    display: none;
  }

  .nav {
    display: flex !important;
    flex-direction: row;
    position: static;
    width: auto;
    background: none;
    border: none;
    box-shadow: none;
  }

  .nav a {
    padding: 0 1rem;
  }

}


.container
{
  display: flex;
  padding: 12px 0;
  align-items: center;
  gap: 8px;
}
.InaContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.EN{
  color: var(--darkgreen);
  background-color:var(--background-color);
  font-family: "IBM Plex Sans";
  font-size: 1 rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.06 rem;
  text-transform: uppercase;
  width: 19px;
  height: 21px;
}
.SV{
  color: var(--darkgreen);
  background-color: var(--background-color);
  font-family: "IBM Plex Sans";
  font-size: 1 rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.06 rem;
  text-transform: uppercase;
  width: 19px;
  height: 21px;
}