.invite-box {
    padding: 20px;
    width: 100vw;
    margin-top: 36px;
}
    
input[type="email"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #1F2B28;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 25px;
    background-color: var(--background-color);
}

button {
    width: 100%;
    background-color: #1F2B28;
    color: white;
    border: none;
    padding: 15px 0;
    font-size: 20px;
    cursor: pointer;
}



.invite-box p {
    margin: 0;
}


.invite-box h3 {
    margin-left: 0;
    margin-right: 0;

}

@media (min-width: 768px) {
    .footer-deskt {
      display: flex;
    }
}

@media (min-width: 1024px) {
    .invite-box{
        width: 50%;
    }

    .footer-deskt {
      display: flex;
    }
}

/* Large desktop */
@media (min-width: 1440px) {
    .footer-deskt {
      display: flex;
    }
}