.invite-box {
    padding: 30px;
    width: 100vw;
}
    
input[type="email"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #1F2B28;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 25px;
}

button {
    width: 100%;
    background-color: #1F2B28;
    color: white;
    border: none;
    padding: 15px 0;
    font-size: 20px;
    cursor: pointer;
}

