.product-page-hero{
  display: flex;
  width: 393px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.product-images {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 0;
    width: 100%;
    height: 100%;
    /* Dölj scrollbar (valfritt) */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

.product-images::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}

.product-images img {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.carousel {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.carousel-images {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.carousel-slide {
    position: absolute; 
    width: 100vw;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.product-cont {
  position: relative;  
  display: flex;
  width: 100vw;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px 2px;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.info-product {
  height: 186px;
}

.info-product h2 {
  color: var(--darkgreen, #1F2B28);

/* heading-l */
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.section-prod-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.prod-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

@media (min-width: 768px) {
  .product-page-hero{
  display: flex;
  width: 100vw;
  align-items: flex-start;
  gap: 24px;
  }
  
  .product-images {
    display: grid;
    width: 757px;
    height: 1598px;
    row-gap: 4px;
    column-gap: 4px;
    flex-shrink: 0;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .product-images img {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .product-cont {
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-top: 64px;
  }

  .product-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25px;

    position: sticky;
    top: 50px; /* Justera efter önskad avstånd från toppen */
    height: fit-content;
    align-self: flex-start;
  }

  .color-picker-cont {
    display: flex;
    width: 458px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
  }

  .product-detail .prize {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 35.2px */
    letter-spacing: -0.96px;
    margin: 0px 16px 16px;
  }

  .product-detail .name {
    flex: 1 0 0;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px 16px;
    width: 458px;
  }

  .product-detail h2 {
    color: var(--darkgreen, #1F2B28);
    font-family: var(--font-base);
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 52.8px */
    letter-spacing: -1.44px;
    margin: 0px 16px 4px;
  }

  .prod-cont {
    margin-top: 128px;
  }
}

