.product-page-hero{
  display: flex;
  width: 393px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.carousel {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.carousel-images {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.carousel-slide {
    position: absolute; 
    width: 100vw;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-slide.active {
    opacity: 1;
}

@media (min-width: 1024px) {
  
}

.carousel-dots {
    text-align: center;
    padding: 20px;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #bbb;
    margin: 0 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.dot.active {
    background: #717171;
}

.dot:hover {
    background: #717171;
}

.product-cont {
    display: flex;
    /* min-height: 1148px; */
    width: 100vw;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px 2px;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.info-product {
  height: 186px;
}

.info-product h2 {
  color: var(--darkgreen, #1F2B28);

/* heading-l */
font-family: var(--font-base);
font-style: normal;
font-weight: 600;
line-height: normal;
}

/*.carousel-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  overflow: hidden;
  border-radius: 1rem;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease;
}

.carousel-slide {
  min-width: 100%;
}

.carousel-slide img {
  width: 100%;
  display: block;
  border-radius: 1rem;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255,255,255,0.7);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 50%;
}

.carousel-btn.prev {
  left: 1rem;
}

.carousel-btn.next {
  right: 1rem;
}

.carousel-btn:hover {
  background: rgba(255,255,255,0.9);
}*/
