:root {
    --background-color: #FFFEF9;
    --orange: #ef8231;
    --green: #c0e0c5;
    --font-color: #000000;
}

/* <weight>: Use a value from 100 to 700
 <uniquifier>: Use a unique and descriptive class name

 .ibm-plex-sans-<uniquifier> {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}*/

