:root {
    --background-color: #FFFDF8;
    --orange: #EF8231;
    --darkgreen: #1F2B28;
    --midgreen: #6F7770;
    --lightgreen: #B9C7BB;
    --font-base: "IBM Plex Sans", Sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-base);
  background-color: var(--background-color);
}

h2 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 16px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 16px;
}

p {
  margin: 16px;
}

.ten-percent {
  background: var(--darkgreen, #1F2B28);
  display: flex;
  width: 100vw;
  height: 40px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.ten-percent a {
  color: var(--background-color);
/* Mobil/p/p regular */
  font-family: var(--font-base);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.hero-container {
  display: flex;
  height: 633px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: end;
  background: transparent;
}

.hero-container img {
  height: 633px;
  flex-shrink: 0;
  align-self: stretch;
  background: var(--darkgreen);
  object-fit: cover;
}

.hero-text {
  display: flex;
  flex-direction: column;  
  justify-content: inherit;
  align-self: center;
}

.spring {
  color: var(--background-color, #FFFDF8);
  font-family: var(--font-base);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  position: absolute;
  align-self: center;
  padding: 110px;
}

.collection-name {
  color: var(--background-color, #FFFDF8);
  font-family: "IBM Plex Serif";
  font-size: 6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 100%; /* 96px */
  letter-spacing: -2.88px;
  position: absolute;
  align-self: center;
  padding: 20px;
}

.future {
  color: var(--background-color, #FFFDF8);
  font-family: var(--font-base);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  position: absolute;
  align-self: center;
}

.about {
  display: flex;
  padding: 0 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin: 96px 0px 96px;
}

.text.box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.about p {
  color: var(--darkgreen, #1F2B28);
  font-family: var(--font-base);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.about p .special {
  font-family: "IBM Plex Serif";
  font-style: italic;
  font-weight: 500;
}

.about p .orange {
  color: var(--Orange, #EF8231);
}

.THO {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 64px;
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.THO-explore {
  display: flex;
  padding: 0 16px;
  align-items: center;
  gap: 4px;
}

.THO-explore h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--darkgreen, #1F2B28);
  font-family: var(--font-base);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 26.4px */
  letter-spacing: -0.72px;
  margin: 0;
}

.THO-explore h3 .italic {
font-family: "IBM Plex Serif";
font-style: italic;
}

.THO-explore img {
  width: 25px;
  height: 14px;
}

.product-carousel img {
  height: 312px;
  align-self: stretch;
  background: var(--darkgreen);
}

.product-carousel {
  width: 100vw;
  display: flex;
  gap: 8px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.product-info {
  padding: 8px 16px;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.product-info p {
  margin: 0px;
}

.name {
    color: var(--darkgreen, #1F2B28);
    font-family: var(--font-base);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
}

.prize {
    color: var(--darkgreen, #1F2B28);
    font-family: var(--font-base);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}

.sustainability-container, .about-kin {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
  margin: 8px 0px;
  height: 433px;
}

.sustainability-container img, .about-kin img {
  height: 433px;
}

.sustainability-container h3, .about-kin h3 {
  width: 261px;
  color: var(--background-color, #FFFDF8);
  text-align: center;
/* Mobil/H3/H3 serif */
  font-size: 2rem;  
  font-family: "IBM Plex Serif";
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.08px;
  margin: 0px;
}

.a-frame {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--background-color);
}

.a-frame a {
  color: var(--background-color);
  font-family: var(--font-base);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  margin: 0px;
  text-decoration: none;
}

.sust-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 55px 65px 32px 65px;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}

/*.jacket {
    position: absolute;
    background: none !important;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 200px;
}

@media (min-width: 1024px) {
  .jacket {
    top: 50%;
    left: 80%;
    padding: 120px;
  }
}*/
