:root {
    --background-color: #FFFDF8;
    --orange: #EF8231;
    --darkgreen: #1F2B28;
    --midgreen: #6F7770;
    --lightgreen: #B9C7BB;
    --font-base: "IBM Plex Sans", Sans-serif;
}

/* <weight>: Use a value from 100 to 700
 <uniquifier>: Use a unique and descriptive class name

 .ibm-plex-sans-<uniquifier> {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-base);
}

.product img {
  display: flex;
  width: 393px;
  height: 433px;
  padding: 55px 65px;
  flex-direction: column;
  align-items: center;
  gap: 212px;
  flex-shrink: 0;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  margin: 16px;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  margin: 16px;
}

p {
  margin: 16px;
}

.hero-container {
  display: flex;
  width: 390px;
  height: 633px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: end;
}

.hero-container img {
  height: 633px;
  flex-shrink: 0;
  align-self: stretch;
  background: var(--darkgreen);
}

.hero-text {
  display: flex;
  flex-direction: column;  
  justify-content: inherit;
  align-self: center;
}

.spring {
  color: var(--background-color, #FFFDF8);
  font-family: "IBM Plex Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
  position: absolute;
  align-self: center;
  padding: 110px;
}

.collection-name {
  color: var(--background-color, #FFFDF8);
  font-family: "IBM Plex Serif";
  font-size: 6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 100%; /* 96px */
  letter-spacing: -2.88px;
  position: absolute;
  align-self: center;
  padding: 20px;
}

.future {
  color: var(--background-color, #FFFDF8);
  font-family: "IBM Plex Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  position: absolute;
  align-self: center;
}

.about {
  display: flex;
  width: 390px;
  padding: 0 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.about p, h2 {
  align-self: stretch;
  color: var(--darkgreen, #1F2B28);
  font-family: var(--font-base);
  line-height: 110%; /* 39.6px */
  letter-spacing: -1.08px;
}


