:root {
    --background-color: #FFFDF8;
    --orange: #EF8231;
    --darkgreen: #1F2B28;
    --midgreen: #6F7770;
    --lightgreen: #B9C7BB;
    --font-base: "IBM Plex Sans", Sans-serif;
}

/* <weight>: Use a value from 100 to 700
 <uniquifier>: Use a unique and descriptive class name

 .ibm-plex-sans-<uniquifier> {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-base);
  background-color: var(--background-color);
}

h2 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 16px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 16px;
}

p {
  margin: 16px;
}

.hero-container {
  display: flex;
  /*width: 390px;*/
  height: 633px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: end;
}

.hero-container img {
  height: 633px;
  flex-shrink: 0;
  align-self: stretch;
  background: var(--darkgreen);
  object-fit: cover;
}

.hero-text {
  display: flex;
  flex-direction: column;  
  justify-content: inherit;
  align-self: center;
}

.spring {
  color: var(--background-color, #FFFDF8);
  font-family: var(--font-base);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
  position: absolute;
  align-self: center;
  padding: 110px;
}

.collection-name {
  color: var(--background-color, #FFFDF8);
  font-family: var(--font-base);
  font-size: 6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 100%; /* 96px */
  letter-spacing: -2.88px;
  position: absolute;
  align-self: center;
  padding: 20px;
}

.future {
  color: var(--background-color, #FFFDF8);
  font-family: var(--font-base);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  position: absolute;
  align-self: center;
}

.about {
  display: flex;
  /*width: 390px;*/
  padding: 0 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.about p, h2 {
  align-self: stretch;
  color: var(--darkgreen, #1F2B28);
  font-family: var(--font-base);
  line-height: 110%; /* 39.6px */
  letter-spacing: -1.08px;
}

.THO {
  display: flex;
  /*width: 390px;*/
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.THO-explore {
  display: flex;
  padding: 0 16px;
  align-items: center;
  gap: 4px;
}

.THO-explore h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--darkgreen, #1F2B28);
  font-family: var(--font-base);
  font-size: 1.5rem; /*2rem för stor för en rad*/
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 26.4px */
  letter-spacing: -0.72px;
}

.THO-explore img {
  width: 25px;
  height: 14px;
}

.product-carousel img {
  height: 312px;
  align-self: stretch;
  background: var(--darkgreen);
}

.product-carousel {
  width: 100vw;
  display: flex;
  gap: 25px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

