:root {
    --background-color: #FFFDF8;
    --orange: #EF8231;
    --darkgreen: #1F2B28;
    --midgreen: #6F7770;
    --lightgreen: #B9C7BB;
    --font-base: "IBM Plex Sans", Sans-serif;
}

/* <weight>: Use a value from 100 to 700
 <uniquifier>: Use a unique and descriptive class name

 .ibm-plex-sans-<uniquifier> {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-base);
}

.product img {
  display: flex;
  width: 393px;
  height: 433px;
  padding: 55px 65px;
  flex-direction: column;
  align-items: center;
  gap: 212px;
  flex-shrink: 0;
}
h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 16px;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    margin: 16px;
}

p {
  margin: 16px;
}
