.color-choice {
    padding: 0px 20px 64px 20px;
    width: 100vw;
    margin-top: 48px;
}

.color-choice a,
.color-choice p {
  font-weight: 500;
  margin: 0px;
}

.color-buttons {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    padding: 16px;
    justify-content: center;
}

.colors {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 363px;
}

.colors button {
  display: flex;
  align-items: center;
  gap: 8px;
}

.guide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
  align-self: stretch;
  padding-bottom: 32px;
  padding-top: 32px;
  width: 393px;
  padding-right: 16px;
}

.basket {
  width: 100%;
  background-color: #1f2b28;
  color: white;
  border: none;
  padding: 15px 0;
  font-size: 20px;
  cursor: pointer;
}

.size-button {
  display: flex;
  align-items: center;
  gap: 16px;
}

.size-button button {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--lightgreen);

  color: var(--darkgreen);
  text-align: center;
  font-family: var(--font-base);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.guide-size {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.color-choice p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.color-buttons button,
.size-button button {
  background-color: transparent;
  color: var(--darkgreen);
  cursor: pointer;
  /*padding-right: 3px;
  padding-top: 0;
  padding-bottom: 0;*/
  display: flex;

height: 32px;
padding: 4px 12px;
justify-content: center;
align-items: center;
gap: 4px;
}

.signal {
  border: 1px solid var(--darkgreen);
  color: var(--darkgreen);
  font-family: var(--font-base);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ormbunke,
.salvia {
  border: 1px solid var(--lightgreen);
  color: var(--darkgreen);
  font-family: var(--font-base);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.guide-size a {
  text-decoration-line: underline;
  text-decoration-style: solid;
}

.salvia:before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  background-color: var(--lightgreen);
}

.ormbunke:before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  background-color: var(--darkgreen);
}

.signal:before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  background-color: var(--orange);
}

@media (min-width: 768px) {
  .color-choice {
    margin-top: 64px;
    width: 100%;
  }
}