.color-choice {
    padding: 20px;
    width: 100vw;
    margin-top: 100px;
}

.color-buttons {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.colors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.colors button {
    display: flex;
    align-items: center;
    gap: 8px;
}

.guide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    align-self: stretch;
    padding-bottom: 32px;
    padding-top: 32px;
}

.varukorg {
    /* display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch; */
/*     
    width: 100%;
    background-color: #1F2B28;
    color: white;
    border: none;
    padding: 12px 16px;
    font-size: 20px;
    cursor: pointer; */

    width: 100%;
    background-color: #1F2B28;
    color: white;
    border: none;
    padding: 15px 0;
    font-size: 20px;
    cursor: pointer;
}

.size-button {
display: flex;
align-items: center;
gap: 16px;
    
}

.size-button button {
display: flex;
width: 40px;
height: 40px;
padding: 8px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;
}

.guide-size {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}